{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/utils.html' as utils %}

{% block html_attribs %} lang="en"{% endblock %}

{% block title %} | Rate Dactra{% endblock %}

{% block navbar %}
    {% if current_user.is_authenticated %}
        {{ nav.loggedinnavbar.render(renderer='inverse_bootstrap_renderer') }}
    {% else %}
        {{ nav.basenavbar.render(renderer='inverse_bootstrap_renderer') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class='container'>
        {{ utils.flashed_messages(container=False, dismissible=True) }}
        {% block page_content %}{% endblock %}
    </div>
{% endblock %}