<html lang="en">
<head>
    <title>{% block title %} | Rate Dactra{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
</head>
<body>
<div class='container'>


    <header>
        {% if current_user.is_authenticated %}
            {{ nav.loggedinnavbar.render(renderer='simple') }}
        {% else %}
            {{ nav.basenavbar.render(renderer='simple') }}
        {% endif %}
    </header>
    <main>
        {#        {{ utils.flashed_messages(container=False, dismissible=True) }}#}
        <div class="card border-danger mb-3">
            <div class="card-header">Alert</div>
            <div class="card-body text-danger">
                <h4 class="card-title">Alpha build</h4>
                <p class="card-text">Under development lesa huh</p>
            </div>
        </div>
        {% block page_content %}{% endblock %}
    </main>
    <footer style="text-align:center; padding-top:3rem">
        <p>Feel free to contact me with your concerns</p>
        <div>
            <a href='https://twitter.com/thatweirdcoder' target='_blank'><i class='fab fa-twitter-square fa-3x '
                                                                            alt='@ me' aria-hidden='true'
                                                                            title='Contact me on twitter'></i></a>
            <a href='https://github.com/thatweirdcoder/rate-dactra' target='_blank'><i
                    class='fab fa-github-square fa-3x' alt='Fork me' aria-hidden='true'
                    title='Fork me on github'></i></a>
        </div>
        <p>made with love by: Coffee, that weird coder, more coffee.</p>
        <p>&copy; Rate Dactra 2019</p>
    </footer>
    <script src='https://kit.fontawesome.com/4f3649c7ff.js'></script>
</div>
</body>
</html>
