{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Rate Dactra | The Unfiltered Recourse for Engineering Teachers{% endblock %}

{% block page_content %}
    <div class='page-header'>
        <h1>Index page</h1>
    </div>
    <div>
        {{ wtf.quick_form(form) }}
    </div>
    <div>
    <ul>
        {% for teacher in teachers %}
            <li>
                <div>
                    <a href='/{{ teacher.name|lower }}'>
                        <h2>{{ teacher.name|title }}</h2>
                        {% if teacher.photo %}
                            <img src="{{ teacher.photo }}"> {# TODO: this is not how this works #}
                    {% endif %}
                        <p>{{ teacher.bedan }}</p>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}