{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ teacher.name|title }}{{ super() }}{% endblock %}

{% block page_content %}
    <div>
        <div class='page-header'>
            {% if teacher.photo %}
                <img src="{{ teacher.photo }}">
            {% endif %}
            <h1>{{ teacher.name|title }}</h1>
            {% if teacher.email %}
                <h4>Email: {{ teacher.email }}</h4>
            {% endif %}
            {% if teacher.phone %}
                <h4>Phone: {{ teacher.phone }}</h4>
            {% endif %}
        </div>
        <div>
            {% if teacher.reviews %}
                <h3>Reviews</h3>
                <ul>
                    {% if teacher.overall >= 50 %}
                        <li>Overall I give {{ teacher.name|title }} a {{ teacher.overall }}%. Not bad!</li>
                    {% else %}
                        <li>Overall I give {{ teacher.name|title }} a {{ teacher.overall }}%. Huh,
                            is {{ teacher.name|title }} even trying!
                        </li>
                    {% endif %}
                    {% if teacher.take_again >= 50 %}
                        <li>{{ teacher.take_again }}% students would take {{ teacher.name|title }}'s class again. Nice,
                            must
                            have been a nice experience.
                        </li>
                    {% else %}
                        <li>{{ teacher.take_again }}% students would take {{ teacher.name|title }}'s class again. Wow,
                            just
                            walk away buddy.
                        </li>
                    {% endif %}
                    {% if teacher.attendance >= 50 %}
                        <li>{{ teacher.attendance }}% students think {{ teacher.name|title }} cares about attendance.
                            Don't
                            miss a lecture.
                        </li>
                    {% else %}
                        <li>{{ teacher.attendance }}% students think {{ teacher.name|title }} cares about attendance.
                            Now
                            you can sleep in like a baby I guess!
                        </li>
                    {% endif %}
                    {% if teacher.understanding >= 50 %}
                        <li>{{ teacher.understanding }}% students can understand from {{ teacher.name|title }}.
                            Nnnnnnnice!
                        </li>
                    {% else %}
                        <li>{{ teacher.understanding }}% students can understand from {{ teacher.name|title }}. The art
                            of
                            reading powerpoint slides
                        </li>
                    {% endif %}
                    {% if teacher.sexism >= 50 %}
                        <li>{{ teacher.sexism }}% students find {{ teacher.name|title }} sexist. Shame on you wallahi!
                        </li>
                    {% else %}
                        <li>{{ teacher.sexism }}% students find {{ teacher.name|title }}
                            sexist. {{ teacher.name|title }}
                            you make me proud.
                        </li>
                    {% endif %}
                    {% if teacher.bedan >= 50 %}
                        <li>{{ teacher.bedan }}% students think {{ teacher.name|title }} is bedan. :) ...</li>
                    {% else %}
                        <li>{{ teacher.bedan }}% students think {{ teacher.name|title }} is bedan. So nice teachers do
                            exists? Huh!
                        </li>
                    {% endif %}
                    {% if teacher.interesting >= 50 %}
                        <li>{{ teacher.interesting }}% students find {{ teacher.name|title }} interesting. Yayyyyy!</li>
                    {% else %}
                        <li>{{ teacher.interesting }}% students find {{ teacher.name|title }} interesting. Have some
                            coffee
                            before {{ teacher.name|title }}'s lecture.
                        </li>
                    {% endif %}
                    {% if teacher.english >= 50 %}
                        <li>{{ teacher.english }}% students think {{ teacher.name|title }} is good at English. Good for
                            you {{ teacher.name|title }}.
                        </li>
                    {% else %}
                        <li>{{ teacher.english }}% students think {{ teacher.name|title }} is good at English. If you
                            are a
                            foreigner, Take a translator with you!
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
        <div>
            {% if comments %}
                <h3>Comments</h3>
                <ul>
                    {% for comment in comments %}
                        <li>A student who got {{ comment.grade_received }} on {{ comment.course_name }}
                            says: {{ comment.comment }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div>
        <div>
            <h2>Edit {{ teacher.name|title }}'s info</h2>
            {{ wtf.quick_form(edit_teacher_form, action=url_for('main.edit_teacher', name=teacher.name)) }}
        </div>
        <div>
            <h2>Review {{ teacher.name|title }}</h2>
            {{ wtf.quick_form(review_teacher_form, action=url_for('main.review_teacher', name=teacher.name)) }}
        </div>
        <div>
            <h2>Comment on {{ teacher.name|title }}</h2>
            {{ wtf.quick_form(comment_on_teacher_form, action=url_for('main.comment_on_teacher', name=teacher.name)) }}
        </div>
    </div>
{% endblock %}
