{% extends 'base.html' %}                                                                                                                                   

{% block title %}Rate Dactra | The Unfiltered Recourse for Engineering Teachers{% endblock %}                                                               
                                                                                                                                                            
{% block page_content %}                                                                                                                                    
    <div class='page-header'>                                                                                                                               
        <h1>Hello!</h1>
        <p>this webapp is intended for students to leave reviews about college professors for other students .. click on
            your teather's card to review him or add him/her by inserting his/her name below .. tweet me @thatweirdcoder
            for bugs and requests .. </p>
        {#        {{ wtf.quick_form(form) }}                                                                                                                          #}
    </div>                                                                                                                                                  
    <div class="row-fluid">                                                                                                                                 
        <div class="card-deck">                                                                                                                             
        {% for teacher in teachers %}                                                                                                                       
            <div class="col-sm-3">                                                                                                                          
                <div class="card w-auto m-1">                                                                                                               
                    <a href='/{{ teacher.name|lower }}'>                                                                                                    
                        {% if teacher.photo %}                                                                                                              
                            <img src="{{ teacher.photo }}" class="card-img-top">                                                                            
                        {% endif %}                                                                                                                         
                        <div class="card-body">                                                                                                             
                            <h2 class="card-title">{{ teacher.name|title }}</h2>                                                                            
                            <p class="card-text">{{ teacher.bedan }} Bedan</p>                                                                              
                        </div>                                                                                                                              
                    </a>                                                                                                                                    
                </div>                                                                                                                                      
            </div>                                                                                                                                          
        {% endfor %}                                                                                                                                        
        </div>                                                                                                                                              
    </div>                                                                                                                                                  
{% endblock %}     
