{% extends 'base.html' %}

{% block title %}Admin Panel{{ super() }}{% endblock %}

{% block page_content %}
    <div class='page-header'><h1>Admin Panel</h1></div>
    <div>
        <ul>
            <h3>Reviews</h3>
            {% for teacher in teachers %}
                <li>
                    <div>
                        <img src="{{ teacher.photo }}">
                        <p>{{ teacher.name|title }}</p>
                        <p>Email: {{ teacher.email }}</p>
                        <p>Phone: {{ teacher.phone }}</p>
                        {#                        {{ wtf.quick_form(approve_form, action=url_for('admin.approve', item=teacher.id, item_type='teacher')) }}#}
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>
    <div>
        <ul>
            <h3>Comments</h3>
            {% for comment in comments %}
                <li>
                    <div>
                        <p>A student who got {{ comment.grade_received }} on {{ comment.course_name }}
                            says: {{ comment.comment }}</p>
                        {#                        {{ wtf.quick_form(approve_form, action=url_for('admin.approve', item=comment.id, item_type='comment')) }}#}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}