{% extends 'base.html' %}

{% block page_content %}
    <div class='page-header'>
        <h1>Index page</h1>
    </div>
    <ul>
        {% for teacher in teachers %}
            <li>
                <div>
                    <p>{{ teacher['name'] }}</p>
                    {% if teacher['photo'] %}
                        <p>{{ teacher['photo'] }}</p>
                    {% endif %}
                    <p>{{ teacher['bedan_factor'] }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock %}